h1{
  text-align: center;

}
a{
  text-decoration: none;
  color : black;
}

#titlebar{
  border-bottom: 3px solid #d30027;

  margin: 0px;
}
#menubar{
  border-right:3px solid #d30027;
}
#context{
  text-align: center;
}
#grid{
  display : grid;
  grid-template-columns: 150px 1fr;
}

#grid2{
  padding : 20px;
  border-bottom : 3px solid #d30027;
  display : grid;
  grid-template-columns: auto auto auto auto auto auto auto auto
}
