h1{
  text-align: center;

}
a{
  text-decoration: none;
  color : black;
}

#titlebar{
  border-bottom: 3px solid gray;
  background-color: #4d6c8b;
  margin: 0px;
}
#menubar{
  border-right:3px solid gray;
}
#context{
  text-align: center;
}
#grid{
  display : grid;
  grid-template-columns: 150px 1fr;
}
